

h1, h2, h3, h4, h5 {
  color: #540303;
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  margin-top: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

img.resize-w100 {
  width: 100%;
  margin-top: 2em;
}

img.resize-sm {
  border: none;
  border-radius: 8px;
  width: 100%;
  height: auto;
}

img.resize-sm25 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

img.resize-med {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

a.nav-link {
  color: #540303;
}

a.nav-link:hover {
  background-color: #cccccc;
}

a.card-link {
  color: #540303;
}

.navbar-custom {
  background-color: #fffff;
}

p {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}



