/*
body {
  height: 125vh;
  font-color: black;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.5em;
  padding: 30px;
}

header {
  background-color: white;
  font-color: #540303;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
}

header * {
  display: inline-block;
}

header li {
  margin: 20px;
  text-align: center;
}

header li a {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-style: "";
  color: #540303;
  text-align: center;
}

img {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}


.nav {
  display: flex;
  justify-content: center;
}


.intro-paragraph {

  box-sizing: border-box;
  border-style: hidden;
  font-size: 1em;
  margin: 20px 0px 40px 10px;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 2em;
  padding-right: 2em;
}

.intro-list {
  font-size: 1em;
  margin: 20px 0px 40px 10px;
  padding: 0 1em 1em 1em;
}


.post-thumb {
}

.post-thumb img {
}
.post-content {
  font-size: 1em;
}




img.img-thumbnail {
  border: none;
  display: inline;
  width: 100%;
  height: auto;
}

img.resize-gen {
  display: block;
  max-height: 50%;
  max-width: 50%;
  height: auto;
  margin: auto;
  width: auto;
  object-fit: contain;
  padding: 10px 10px 10px 10px;
}

img.resize-main {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  object-fit: contain;
  border-width: 1rem;
  margin: 3rem;
  padding: 3rem;
}
*/

h1, h2, h3, h4, h5 {
  color: #540303;
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  margin-top: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

img.resize-w100 {
  width: 100%;
  margin-top: 2em;
}

img.resize-sm {
  border: none;
  border-radius: 8px;
  width: 100%;
  height: auto;
}

img.resize-sm25 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

img.resize-med {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

a.nav-link {
  color: #540303;
}

a.card-link {
  color: #540303;
}

.navbar-custom {
  background-color: #fffff;
}

p {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}